<h1>Quotes</h1>

<% @quotes.each do |quote| %>
  <p>
    &quot;<%= quote["quote"] %>&quot;
    <br /> &ndash; <%= quote["attribution"] %>
  </p>

  <p>
    Submitted by <%= quote["submitter"] %>
  </p>

  <a href="/quotes/show?id=<%= quote.id %>">
    permalink
  </a>

  <hr />
<% end %>
