<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Quotes</title>
</head>
<body>
  <h1>Quotes</h1>

  <% @quotes.each do |quote| %>
    <p>
      &quot;<%= quote.text %>&quot;
      <br /> &ndash; <%= quote.attribution %>
    </p>

    <p>
      Submitted by <%= quote.submitter %>
    </p>

    <a href="/quotes/show?id=<%= quote.id %>">
      permalink
    </a>

    <hr />
  <% end %>
</body>
</html>
